.breadcrumb-container {
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0;
  background: #FFFFFF;
  height: 40px;
  padding-left: 24px;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item a {
   text-decoration: none;
   color: #00000073;
}

.breadcrumb-item {
   text-decoration: none;
   font-family: Roboto;
   font-weight: 400;
   font-size: 18px;
   leading-trim: NONE;
   line-height: 22px;
   letter-spacing: 0%;
   vertical-align: middle;
   color: #000000D9;
}

